﻿/* Generales */
body {
    padding-top: 20px;
    top: 0 !important;
}

.spacer {
    margin-top: 20px;
}
/* General sizing  Nav*/
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}



/* Productos.aspx*/
#productos_page .slide-image {
    width: 100%;
}

#productos_page .carousel-holder {
    margin-bottom: 30px;
}

#productos_page .carousel-control,
.item {
    border-radius: 4px;
}

#productos_page .caption {
    height: 130px;
    overflow: hidden;
}

    #productos_page .caption h4 {
       /* white-space: nowrap; */
    }

#productos_page .thumbnail img {
    width: 100%;
}

#productos_page .ratings {
   padding-right: 10px;
    padding-left: 10px;
    
    height: 30px;
}

#productos_page .stars {
   width:20px;
}

#productos_page .ratingStars span.filledRatingStar{
    color: #d17581;
}

#productos_page .ratingStars span.emptyRatingStar{
    color: #fff;
    
}


#productos_page .thumbnail {
    padding: 0;
}

    #productos_page .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }

#productos_page .acciones {
    padding: 10px;
    height: 40px;
    background-color: #6f4521;
}

    #productos_page .acciones .btn-comparar-prd {
        float: left;
    }

    #productos_page .acciones .btn-agregar-prd {
        float: right;
    }
/* FAQs */

#FAQs_page .faqHeader {
    font-size: 27px;
    margin: 20px;
}

#FAQs_page .panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rota "play" icon de > (right arrow) a ^ (up arrow) */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#FAQs_page .panel-heading [data-toggle="collapse"].collapsed:after {
    /* rota "play" icon de > (right arrow) a ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

/** Hack <Google translator >*/
body > .skiptranslate {
    display: none;
}

#google_translate_element .goog-te-gadget {
    font-size: 0px;
}

.goog-logo-link {
    display: none;
}

#google_translate_element {
    margin-left:10px;
}
/* </Google translator>*/

.botones-buscador {
    margin-top:12px;
}

/**Admin Bitacora*/

tr.leve {
  /*  background-color: #d6f7d0;*/
}

tr.moderado {
    background-color: #e6e181;
}

tr.critico {
    background-color: #F58723;
}

tr.muy {
    background-color: #d17581;
}

/** Carrito*/
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
    max-width:140px;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}