﻿.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.ciudad-cliente {
    text-transform: capitalize;
}


/* =============================================================
   GENERAL STYLES
 ============================================================ */


.container-fc {
      font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    border-style: solid;
    padding: 15px;
}

.pad-top-botm {
    padding-bottom: 40px;
    padding-top: 60px;
}

h4 {
    text-transform: uppercase;
}
/* =============================================================
   PAGE STYLES
 ============================================================ */

.contact-info span {
    font-size: 14px;
    padding: 0px 50px 0px 50px;
}

.contact-info hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.client-info {
    font-size: 15px;
}

.ttl-amts {
    text-align: right;
    padding-right: 50px;
}

.tipo_fc {
    border-style: solid;
    font-size: 26px;
    padding: 20px;
}
