﻿.panel.bg-panel {
    background: #f9f9f9 none repeat scroll 0 0;
}

.form-group.buttons-panel {
    margin: 0 0 20px;
    padding: 0 10px;
    width: 100%;
}

    .form-group.buttons-panel button, .form-group.buttons-panel a {
        float: right;
    }

    .form-group.buttons-panel button {
        margin: 0 0 0 10px;
    }

.form-group.botonera {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

    .form-group.botonera a {
        float: right;
        margin: 0 0 0 10px;
    }

    .form-group.botonera input {
        float: right;
        margin: 0 0 0 10px;
    }

.form-group textarea {
    height: 100px;
    resize: none;
    width: 100%;
}

.btn-group a {
    margin: 0 5px;
}

@media (min-width: 768px) {
    .bg-panel .input-group {
        margin: 0 10px 0 0;
    }

}

/* Paginador */

.pagination-dgv {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
 
.pagination-dgv table > tbody > tr > td {
    display: inline;
}
 
.pagination-dgv table > tbody > tr > td > a,
.pagination-dgv table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #1982d1; /*#dd4814;*/
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
 
.pagination-dgv table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;    
    margin-left: -1px;
    z-index: 2;
    color: #aea79f;
    background-color: #f5f5f5;
    border-color: #dddddd;
    cursor: default;
}
 
.pagination-dgv table > tbody > tr > td:first-child > a,
.pagination-dgv table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
 
.pagination-dgv table > tbody > tr > td:last-child > a,
.pagination-dgv table > tbody > tr > td:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
 
.pagination-dgv table > tbody > tr > td > a:hover,
.pagination-dgv table > tbody > tr > td > span:hover,
.pagination-dgv table > tbody > tr > td > a:focus,
.pagination-dgv table > tbody > tr > td > span:focus {
    color: #1982d1; /*#97310e;*/
    background-color: #eeeeee;
    border-color: #dddddd;
}