﻿.titulo:first-letter {
    text-transform:uppercase;
}

.copete {
 display: inline-block; /* block or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}