﻿#container-faceted-categoria .checkbox.checkboxlist input[type="checkbox"]
{
	margin-left: 0;
}

#container-faceted-categoria .checkbox.checkboxlist label
{
	margin-bottom: 4px;
	margin-left: 0;
}

#container-faceted-categoria fieldset legend
{
	border: 0;
	font-size: inherit;
	font-weight: 700;
	margin-bottom: 0;
}

#container-faceted-categoria fieldset .checkbox
{
	margin-top: 4px;
}

#barra_comparacion {
height: 110px;
}

#btn_limpiar_comparacion {
    margin-right: -70px;
    margin-top:-10px;
    
}

#btn_comparar {
    margin-top:50px;
}

.contenedor_prd_comparar {
    margin: 0 40px;
    float:left;
}
.contenedor_prd_comparar img {
    display:inline;
}


.btn_quitar_comparacion {
}

.ttl_prd_comparar {
}